<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe list</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>RecipeName</th>
        <th>Description</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="recipe : ${recipes}">
        <td th:text="${recipe.id}" />
        <td th:text="${recipe.recipeName}"/>
        <td th:text="${recipe.description}"/>

        <td><a th:href="@{/recipes/{id}/(id=${recipe.id})}">details</a></td>
        <td><a th:href="@{/recipes/delete/{id}/(recipe.id=${recipe.isbn})}">delete</a> </td>

    </tr>
    </tbody>
</table>
</body>
</html>