<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css-1.5.5.min.css"/>
    <title>Recipe details</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="./recipe-list.html"><img src="./assets/CookBookLogo.jpg" alt="CookBookLogo" style="height: 150px;"></a></li>
    </ul>
</nav>

<table class="table">
    <thead>
    <tr>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Ingredients</th>
        <th scope="col">Directions</th>
        <th scope="col">Data</th>

    </tr>
    </thead>
    <tbody>
    <td th:text="${recipe.id}"/>
    <td th:text="${recipe.recipeName}"/>
    <td th:text="${recipe.description}"/>
    <td th:text="${recipe.ingredients}"/>
    <td th:text="${recipe.directions}"/>
    <td th:text="${recipe.releaseDate}"/>
    </tbody>
</table>
<table>
    <form method="post" th:action="@{/comments/save}" th:object="${emptyComment}">

    Username:
    <input type="text" th:field="*{userName}">
    <div>
    Content:
    <input th:field="*{content}">
        <textarea
                id="message"
                name="message"
                rows="5"
                cols="40"
                placeholder="Comments"
        ></textarea>
    </div>
    <button type="submit">Create Comments</button>
    </form>
</table>

<td><a th:href="@{/comments/create}">add comment</a> </td>
<td><a th:href="@{/recipes/{id}/comments/(id=${recipe.id})}">view comments</a> </td>
<td><a th:href="@{/recipes/list}">Return to recipe list</a></td>

</body>
</html>