<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Recipe Create</title>
</head>
<body>
<form method="post" th:action="@{/recipes/save}" th:object="${emptyRecipe}">

    Nazwa Przepisu:
    <input type="text" th:field="*{recipeName}">
    Opis:
    <input type="text" th:field="*{description}">
    Składniki:
    <input type="text" th:field="*{ingredients}">
    Wskazówki:
    <input type="text" th:field="*{directions}">

    <button type="submit">Dodaj Przepis</button>

</form>
</body>
</html>